.menu {
    position: relative;
    max-height: 60px;
    margin: 0 auto;
    padding-top: 45px;
    display: block;
    @media (max-width: $md1) {
        padding-top: 35px;
        max-height: 40px;
    }
    @media (max-width: $md2) {
        padding-top: 20px;
        max-height: 30px;
    }
    .hamburger-menu {
        @media (min-width: 422px) {
            display: none;
        }
    }
    &__block {
        height: 60px;
        padding: 16px 10px;
        margin: auto;
        width: fit-content;
        position: relative;
        top: 0;
        @media (max-width: $md1) {
            height: 40px;
            padding: 14px 8px;
        }
        @media (max-width: $md2) {
            display: none;
        }
    }
    &__list {
        position: relative;
    }
    &__item {
        display: inline-block;
        max-width: fit-content;
        margin: 0 45px 0 0;
        font-family: Lato;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 700;
        color: #ada074;
        @media (max-width: $md1) {
            margin: 0 35px 0 0;
            font-size: 14px;
        }
        @media (max-width: $md2) {
            margin: 0 10px 0 0;
            font-size: 12px;
            text-decoration: underline;
        }
        &_active {
            font-weight: 400;
            color: #3c3c3c;
        }
        &:last-child {
            margin: 0;
        }
    }
}