@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------*/
body {
  padding: 30px;
  /*color: blue;*/
  font-family: Arial, "Halvetica Neue", Halvetica, sans-serif;
}

@font-face {
  font-family: "FontAwesom";
  src: url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff");
}
.header {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.header__bg {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.header__row {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(10, 22, 70, 0.2);
  max-width: 770px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 70px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .header__row {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
.header__logo {
  max-width: 190px;
  max-height: 125px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 2;
}
@media (max-width: 1200px) {
  .header__logo {
    max-width: 170px;
    max-height: 120px;
  }
}
.header__title {
  max-width: 100%;
  margin: 130px 0 200px 0;
  font-family: Lato;
  font-size: 26px !important;
  line-height: 40px;
  font-weight: 400 !important;
  text-transform: none !important;
  letter-spacing: 0.16em;
  color: #ffffff;
  position: relative;
  text-align: center;
}
@media (max-width: 1200px) {
  .header__title {
    margin: 100px 0 150px 0;
    font-size: 24px;
    line-height: 36px;
    font-size: 24px !important;
  }
}
.header__title::after {
  background-color: #fff !important;
  width: 100px;
  height: 2px;
  margin: 0 0 -20px -25px !important;
}
.header__title::first-line {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .header__title::first-line {
    font-size: 30px;
  }
}
.header__buttom {
  margin: 0 auto;
  max-width: 185px;
  max-height: 65px;
  border: 1px solid white;
  position: relative;
  padding: 16px;
}
.header__buttom:hover {
  color: wheat;
  text-decoration: underline;
}
.header__buttom::after {
  content: "";
  background-color: rgba(10, 22, 70, 0.2);
  width: 16px;
  height: 16px;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  left: 50%;
  position: absolute;
  bottom: -70px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  z-index: 3;
  margin: 0 0 0 -12px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__buttom::after {
    bottom: -40px;
  }
}
.header__link {
  display: block;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.header__link:hover {
  color: wheat;
  text-decoration: underline;
}

.about__body {
  max-width: 825px;
  margin: 125px auto 90px auto;
}
@media (max-width: 1200px) {
  .about__body {
    margin: 100px auto 70px auto;
  }
}
@media (max-width: 420px) {
  .about__body {
    margin: 0 auto 35px auto;
  }
}
.about__header {
  margin: 0 0 65px 0;
}
@media (max-width: 1200px) {
  .about__header {
    margin: 0 0 55px 0;
  }
}
@media (max-width: 420px) {
  .about__header {
    margin: 0 0 40px 0;
  }
}
.about__title {
  margin: 0 0 30px 0;
}
@media (max-width: 1200px) {
  .about__title {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 420px) {
  .about__title {
    margin: 0 0 10px 0;
  }
}
.about__text {
  max-width: 580px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
}
.about__row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}
@media (max-width: 420px) {
  .about__column {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu {
  position: relative;
  max-height: 60px;
  margin: 0 auto;
  padding-top: 45px;
  display: block;
}
@media (max-width: 1200px) {
  .menu {
    padding-top: 35px;
    max-height: 40px;
  }
}
@media (max-width: 420px) {
  .menu {
    padding-top: 20px;
    max-height: 30px;
  }
}
@media (min-width: 422px) {
  .menu .hamburger-menu {
    display: none;
  }
}
.menu__block {
  height: 60px;
  padding: 16px 10px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 0;
}
@media (max-width: 1200px) {
  .menu__block {
    height: 40px;
    padding: 14px 8px;
  }
}
@media (max-width: 420px) {
  .menu__block {
    display: none;
  }
}
.menu__list {
  position: relative;
}
.menu__item {
  display: inline-block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 45px 0 0;
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #ada074;
}
@media (max-width: 1200px) {
  .menu__item {
    margin: 0 35px 0 0;
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .menu__item {
    margin: 0 10px 0 0;
    font-size: 12px;
    text-decoration: underline;
  }
}
.menu__item_active {
  font-weight: 400;
  color: #3c3c3c;
}
.menu__item:last-child {
  margin: 0;
}

.portfolio {
  position: relative;
  background-color: #dce1e1;
  margin: 0 auto;
  padding-bottom: 65px;
}
@media (max-width: 1200px) {
  .portfolio {
    padding-bottom: 55px;
  }
}
@media (max-width: 420px) {
  .portfolio {
    padding-bottom: 25px;
  }
}
.portfolio__header {
  position: relative;
}
.portfolio__title {
  font-family: Lato;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}
.portfolio__title::after {
  bottom: -10px;
}
.portfolio__galary {
  position: relative;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 65px;
  max-width: 1100px;
}
@media (max-width: 1200px) {
  .portfolio__galary {
    margin-top: 70px;
    margin-bottom: 25px;
    max-width: 1000px;
  }
}
@media (max-width: 420px) {
  .portfolio__galary {
    margin-top: 40px;
    margin-bottom: 15px;
    max-width: 350px;
  }
}
.portfolio__row {
  left: 0;
  position: relative;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__item {
  position: relative;
  width: 430px;
  height: 335px;
  display: inline-block;
  background-color: #eaeaea;
  margin: 0 10px;
  top: 0;
}
@media (max-width: 1200px) {
  .portfolio__item {
    width: 400px;
    height: 315px;
  }
}
@media (max-width: 420px) {
  .portfolio__item {
    width: 250px;
    height: 235px;
    padding: 15px 0;
    border: 1px solid rgb(114, 109, 109);
    display: block;
  }
}
@media (min-width: 425px) {
  .portfolio__item:last-child {
    right: 0px;
  }
  .portfolio__item:first-child {
    left: 0px;
  }
}
.portfolio__button {
  width: 180px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  border: 1px solid black;
  padding: 12px 34px;
  cursor: pointer;
}
.portfolio__button:hover {
  background-color: #ada074;
  text-decoration: underline;
  -webkit-box-shadow: -5px -5px 10px 5px gray;
          box-shadow: -5px -5px 10px 5px gray;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.portfolio__btn {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 180px;
  height: 48px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #000000;
}

.partners {
  max-width: 100%;
  min-width: 100%;
  max-height: 390px;
  min-height: 300px;
  position: relative;
  margin: 0 auto;
  background: url("../../img/header/bg.jpg") 0 0/cover no-repeat;
}
@media (max-width: 1200px) {
  .partners {
    max-height: 350px !important;
  }
}
@media (max-width: 420px) {
  .partners {
    min-height: 250px;
    max-height: 300px;
  }
}
.partners__row {
  position: relative;
  margin-top: 100px;
  padding-top: 90px;
  margin: 0 auto;
  max-width: 600px;
}
@media (max-width: 1200px) {
  .partners__row {
    padding-top: 70px;
    max-width: 550px;
  }
}
@media (max-width: 420px) {
  .partners__row {
    margin-top: 20px;
    padding-top: 10px;
    max-width: 350px;
  }
}
.partners__top {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.partners__title {
  font-family: Lato;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.partners__bottom {
  position: relative;
  padding: 7px;
  margin: 0 auto;
  max-height: 150px;
}
.partners__icons {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 30px 0;
}
@media (max-width: 1200px) {
  .partners__icons {
    padding: 60px 0 20px 0;
  }
}
@media (max-width: 420px) {
  .partners__icons {
    padding: 30px 0 10px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.partners__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  margin-right: 16%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1200px) {
  .partners__item {
    padding-left: 8px;
    margin-right: 14%;
  }
}
@media (max-width: 420px) {
  .partners__item {
    padding-left: 5px;
    margin-right: 12%;
    margin: 0 auto;
  }
  .partners__item:last-child {
    width: 30%;
    margin-right: 0;
  }
}
.partners__item:last-child {
  margin-right: 0;
}

.contact {
  position: relative;
  margin: 0 auto;
}
.contact__row {
  position: relative;
  margin-top: 170px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1200px) {
  .contact__row {
    margin-top: 100px;
  }
}
@media (max-width: 420px) {
  .contact__row {
    margin-top: 50px;
  }
}
.contact__title {
  font-family: Lato !important;
  font-size: 34px !important;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}
@media (max-width: 1200px) {
  .contact__title {
    font-size: 30px;
    letter-spacing: 0.15em;
  }
}
@media (max-width: 420px) {
  .contact__title {
    font-size: 26px;
    letter-spacing: 0.13em;
  }
}
.contact__block {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 165px auto 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}
@media (max-width: 1200px) {
  .contact__block {
    margin: 115px auto 0 auto;
  }
}
@media (max-width: 420px) {
  .contact__block {
    margin: 25px auto 0 auto;
  }
}
.contact__left {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  left: 0;
  margin-right: 80px;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1200px) {
  .contact__left {
    margin-right: 60px;
  }
}
@media (max-width: 420px) {
  .contact__left {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
.contact__input-info p {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0 auto 20px auto;
}
@media (max-width: 420px) {
  .contact__input-info p {
    margin: 0 auto 10px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact__input-info input {
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  border: 1px solid black;
  margin-bottom: 75px;
}
@media (max-width: 1200px) {
  .contact__input-info input {
    width: 150px;
    height: 32px;
    margin-bottom: 75px;
  }
}
@media (max-width: 420px) {
  .contact__input-info input {
    width: 250px;
    height: 30px;
    margin-bottom: 50px;
  }
}
.contact__top-input {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0;
}
@media (max-width: 420px) {
  .contact__top-input {
    display: block;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact__column {
  position: relative;
  display: inline-block;
  width: 163px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  margin-right: 55px;
  height: fit-content;
}
@media (max-width: 1200px) {
  .contact__column {
    display: inline-block;
    width: 150px;
    margin-right: 45px;
  }
}
@media (max-width: 420px) {
  .contact__column {
    display: block;
    width: 255px;
    margin: 0 auto;
  }
}
.contact__column:last-child {
  margin-right: 0;
}
.contact__msg-info textarea {
  width: 383px;
  height: 118px;
  background-color: #f8f7f7;
  border: 1px solid black;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .contact__msg-info textarea {
    width: 365px;
    height: 100px;
    margin-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .contact__msg-info textarea {
    width: 250px;
    height: 90px;
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .contact__msg-info {
    margin: 0 auto;
  }
}
.contact__bottom-btn {
  position: relative;
  margin: 0 90%;
}
@media (max-width: 420px) {
  .contact__bottom-btn {
    margin: 0 80%;
  }
}
.contact__btn {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}
.contact__right {
  padding-top: 0;
  margin-top: 0;
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 80px;
  vertical-align: top;
}
@media (max-width: 1200px) {
  .contact__right {
    margin-right: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 420px) {
  .contact__right {
    margin: 0 auto;
    display: block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact__right-block {
  position: relative;
  top: 0;
  max-width: 390px;
  max-height: 300px;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
}
@media (max-width: 1200px) {
  .contact__right-block {
    max-width: 300px;
    max-height: 280px;
  }
}
@media (max-width: 420px) {
  .contact__right-block {
    max-width: 350px;
    max-height: 290px;
  }
}
.contact__text {
  width: 258px;
}
@media (max-width: 1200px) {
  .contact__text {
    width: 240px;
  }
}
@media (max-width: 420px) {
  .contact__text {
    width: 220px;
    margin: 0 auto;
  }
}
.contact__mailto {
  padding: 35px 0 25px 0;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .contact__mailto {
    padding: 25px 0 20px 0;
  }
}
@media (max-width: 420px) {
  .contact__mailto {
    padding: 15px 0 10px 0;
  }
}
.contact__icons {
  position: relative;
  font-family: Lato;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}
.contact__item {
  min-width: 29px;
  min-height: 29px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 10px 0 0;
  padding: 4px 10px;
}
@media (max-width: 1200px) {
  .contact__item {
    min-width: 27px;
    min-height: 27px;
  }
}
@media (max-width: 420px) {
  .contact__item {
    min-width: 22px;
    min-height: 22px;
  }
}
.contact__item:last-child {
  padding: 4px 8px;
}
.contact__mail {
  margin: 15px 0 0 0;
}
.contact__mail span {
  font-weight: 700;
}

.footer {
  max-width: 100%;
  min-width: 100%;
  max-height: 274px;
  background-color: #3c3c3c;
  position: relative;
  padding: 45px 0 0 0;
}
@media (max-width: 1200px) {
  .footer {
    max-height: 255px;
    padding: 35px 0 0 0;
  }
}
@media (max-width: 420px) {
  .footer {
    max-height: 200px;
    padding: 15px 0 0 0;
  }
}
.footer__block {
  position: relative;
}
.footer__logo {
  margin: 0 auto;
  width: 130px;
  height: 80px;
}
@media (max-width: 1200px) {
  .footer__logo {
    width: 120px;
    height: 70px;
  }
}
@media (max-width: 420px) {
  .footer__logo {
    width: 90px;
    height: 50px;
  }
}
.footer__menu {
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .footer__menu {
    padding-top: 30px;
  }
}
@media (max-width: 420px) {
  .footer__menu {
    padding-top: 5px;
    font-size: 35px;
  }
}
@media (max-width: 420px) {
  .footer .menu__item {
    font-size: 14px;
  }
}
.footer__text {
  margin: 25px 0 0 0;
  position: relative;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}
@media (max-width: 1200px) {
  .footer__text {
    margin: 20px 0 0 0;
    padding: 20px;
  }
}
@media (max-width: 420px) {
  .footer__text {
    padding: 15px;
    margin: 25px 0 0 0;
  }
}
.footer__text p {
  position: relative;
  text-align: center;
}

.hamburger-menu {
  display: block;
  height: 30px;
  background-color: rgba(180, 183, 218, 0.25);
  position: fixed;
  width: 100%;
  top: 18px;
  left: 0px;
  z-index: 8;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0 !important;
}

/* стилизуем кнопку */
.menu__btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  background-color: rgb(172, 166, 211);
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 9;
}

/* добавляем "гамбургер" */
.menu__btn1 > span,
.menu__btn1 > span::before,
.menu__btn1 > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 6;
}

.menu__btn1 > span::before {
  content: "";
  top: -8px;
}

.menu__btn1 > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #c9e3f4;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

/* элементы меню */
.menu__item1 {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item1:hover {
  background-color: #a0cee1;
}

/*реализовать открытие / закрытие меню только на CSS, используя чекбокс*/
#menu__toggle:checked ~ .menu__btn1 > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn1 > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn1 > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

/*Добавим немного анимации*/
.menu__btn1 > span,
.menu__btn1 > span::before,
.menu__btn1 > span::after {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__box {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item1 {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

/*		@media (max-width: $md1+px) {max-width: 970px;};*/
body {
  padding: 0;
  font-family: Arial, "Halvetica Neue", Halvetica, sans-serif;
}

img {
  max-width: 100%;
  min-width: 100%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95xp;
  position: relative;
  text-align: center;
}
@media (max-width: 1200px) {
  .title {
    font-size: 28px;
    letter-spacing: 7xp;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 24px;
    letter-spacing: 5xp;
  }
}
.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: #000;
  margin: 0 0 0 -25px;
  z-index: 4;
}

.item-about__icon {
  margin: 0 auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .item-about__icon {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 420px) {
  .item-about__icon {
    width: 65px;
    height: 65px;
  }
}
.item-about__title {
  text-align: center;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 40px 0 30px 0;
}
.item-about__title:last-child {
  font-size: 21px;
}
@media (max-width: 420px) {
  .item-about__title:last-child {
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
  }
}
@media (max-width: 1200px) {
  .item-about__title {
    margin: 25px 0 15px 0;
    font-size: 20px;
    letter-spacing: 2.52px;
  }
}
@media (max-width: 420px) {
  .item-about__title {
    margin: 15px 0 5px 0;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .item-about__title:last-child {
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
  }
}
.item-about__text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
  margin: 0 auto;
}